@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Merienda+One|Pangolin|Poppins|Quicksand|Lobster|Muli')

@font-face
  font-family: "Proxima Nova"
  src: url("https://assets.letsendorse.com/fonts/proxima_nova/Mark Simonson - Proxima Nova Alt Regular-webfont.eot")
  src: url("https://assets.letsendorse.com/fonts/proxima_nova/Mark Simonson - Proxima Nova Alt Regular-webfont.woff") format("woff"), url("https://assets.letsendorse.com/fonts/proxima_nova/Mark Simonson - Proxima Nova Alt Regular-webfont.otf") format("opentype"), url("https://assets.letsendorse.com/fonts/proxima_nova/Mark Simonson - Proxima Nova Alt Regular-webfont.svg") format("svg")