.manage-single-district-page
  padding: 30px 50px
  h2
    margin-top: 0
    margin-bottom: 30px
  .heading
    color: red
    display: flex
    font-size: 20px
    font-weight: 600
    margin-bottom: 5px
    padding-bottom: 5px
    letter-spacing: 0.5px
    border-bottom: 1px solid #777
    .column-1, .column-2, .column-3, .column-4, .column-5
      width: 20%
      padding: 5px
      text-align: center
  .no-districts
    width: 100%
    color: #444
    display: flex
    height: 180px
    margin: 0 auto
    font-size: 20px
    align-items: center
    background: #fafafa
    letter-spacing: 0.5px
    justify-content: center
    box-shadow: 0 0 1px #aaa
  .district-row
    color: #444
    width: 100%
    display: flex
    font-size: 16px
    min-height: 50px
    align-items: center
    letter-spacing: 0.5px
    &:nth-child(2n)
      background: #f5f5f5
    .column-1, .column-2, .column-3, .column-4, .column-5
      width: 20%
      padding: 5px
      text-align: center
      .save-requirement-btn
        color: #fff
        background: #ef5a20
      .add-fulfilment-btn, .edit-requirement-btn
        color: #ef5a20
        background: #fff
        border: 1px solid #ef5a20
      .add-fulfilment-btn, .save-requirement-btn, .edit-requirement-btn
        padding: 5px
        width: 120px
        text-align: center
  .add-material-container
    text-align: center
    .add-material-btn
      color: #fff
      padding: 5px
      width: 150px
      margin-top: 30px
      text-align: center
      background: #ef5a20
      i.fa
        margin-right: 8px