.manage-users-page
	.heading
		.column
			width: calc(calc(100% - 220px) / 5)
		.column-6
			width: 80px
			text-align: center
		.column-7
			width: 140px
			text-align: center
	.item-row
		.column
			overflow-wrap: break-word
			width: calc(calc(100% - 220px) / 5)
		.column-6
			width: 80px
			text-align: center
		.column-7
			width: 140px
			text-align: center