.manage-districts-page
  padding: 40px 50px
  h2
    margin-top: 0
    margin-bottom: 30px
  .heading
    color: red
    width: 90%
    display: flex
    font-size: 16px
    padding-bottom: 0
    letter-spacing: 0.5px
    margin: 0 auto 10px auto
    border-bottom: 1px solid #777
    .column-1
      padding: 5px
      width: calc(100% - 300px)
    .column-2
      width: 300px
      padding: 5px
      text-align: center
  .no-districts
    width: 90%
    color: #444
    display: flex
    height: 180px
    margin: 0 auto
    font-size: 20px
    align-items: center
    background: #fafafa
    letter-spacing: 0.5px
    justify-content: center
    box-shadow: 0 0 1px #aaa
  .district-row
    width: 90%
    color: #444
    display: flex
    margin: 0 auto
    font-size: 16px
    min-height: 50px
    align-items: center
    letter-spacing: 0.5px
    &:nth-child(2n)
      background: #f5f5f5
    .column-1
      padding: 5px
      width: calc(100% - 300px)
    .column-2
      width: 300px
      padding: 5px
      text-align: center
      .manage-district-btn
        color: #fff
        padding: 5px
        width: 150px
        text-align: center
        background: #ef5a20