*
  outline: none !important
  font-family: 'Proxima Nova', sans-serif

.pointer
  cursor: pointer !important

body
  margin: 0
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif

note, .note
  color: #ef5a20

button
  &.btn
    color: #fff
    background: #ef5a20
  &:disabled
    cursor: not-allowed

.control-label
  color: #6f6f6f
  display: block
  font-size: 15px
  margin-top: 15px
  margin-bottom: 0
  font-weight: bold
  letter-spacing: 0.1rem

.is-imp::after
  content: "*"
  color: #d5313e
  line-height: 1
  margin-top: 2px
  font-weight: 700
  padding-left: 2px
  font-size: 1.2rem
  position: absolute
  vertical-align: text-top

.mb20
  margin-bottom: 20px