@import url("https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Merienda+One|Pangolin|Poppins|Quicksand|Lobster|Muli");
@font-face {
  font-family: "Proxima Nova";
  src: url("https://assets.letsendorse.com/fonts/proxima_nova/Mark Simonson - Proxima Nova Alt Regular-webfont.eot");
  src: url("https://assets.letsendorse.com/fonts/proxima_nova/Mark Simonson - Proxima Nova Alt Regular-webfont.woff") format("woff"), url("https://assets.letsendorse.com/fonts/proxima_nova/Mark Simonson - Proxima Nova Alt Regular-webfont.otf") format("opentype"), url("https://assets.letsendorse.com/fonts/proxima_nova/Mark Simonson - Proxima Nova Alt Regular-webfont.svg") format("svg"); }
* {
  outline: none !important;
  transition: all 0.3s ease;
  font-family: "Proxima Nova", sans-serif; }

.pointer {
  cursor: pointer !important; }

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

note, .note {
  color: #ef5a20; }

button.btn {
  color: #fff;
  background: #ef5a20; }
button:disabled {
  cursor: not-allowed; }

.control-label {
  color: #6f6f6f;
  display: block;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 0.1rem; }

.is-imp::after {
  content: "*";
  color: #d5313e;
  line-height: 1;
  margin-top: 2px;
  font-weight: 700;
  padding-left: 2px;
  font-size: 1.2rem;
  position: absolute;
  vertical-align: text-top; }

.mb20 {
  margin-bottom: 20px; }

.page-container {
  padding: 40px 50px; }
  .page-container > .table-buttons {
    display: flex;
    margin: 10px 0;
    align-items: center;
    flex-direction: row-reverse; }
    .page-container > .table-buttons button.btn {
      color: #fff;
      margin: 5px;
      background: red;
      min-width: 150px;
      padding: 5px 10px;
      text-align: center; }
      .page-container > .table-buttons button.btn > i {
        margin-right: 5px; }
      .page-container > .table-buttons button.btn.btn-alt {
        color: red;
        background: #fff;
        border: 1px solid red; }
  .page-container > h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .page-container > .heading {
    color: red;
    width: 100%;
    display: flex;
    font-size: 16px;
    padding-bottom: 0;
    align-items: flex-end;
    letter-spacing: 0.5px;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #777; }
    .page-container > .heading .column {
      padding: 5px;
      min-width: 100px; }
  .page-container > .no-items {
    width: 100%;
    color: #444;
    display: flex;
    height: 180px;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
    background: #fafafa;
    letter-spacing: 0.5px;
    justify-content: center;
    box-shadow: 0 0 1px #aaa; }
  .page-container > .item-row {
    width: 100%;
    color: #444;
    display: flex;
    margin: 0 auto;
    font-size: 16px;
    min-height: 50px;
    align-items: center;
    letter-spacing: 0.5px; }
    .page-container > .item-row:nth-child(2n) {
      background: #f5f5f5; }
    .page-container > .item-row .column {
      padding: 5px;
      min-width: 100px; }
      .page-container > .item-row .column .btn.column-btn {
        color: #fff;
        padding: 5px;
        min-width: 120px;
        text-align: center;
        background: #ef5a20; }
        .page-container > .item-row .column .btn.column-btn.btn-alt {
          color: #ef5a20;
          background: #fff;
          border: 1px solid #ef5a20; }
  .page-container > .add-item-container {
    text-align: center; }
    .page-container > .add-item-container button.add-item-btn {
      color: #fff;
      padding: 5px;
      width: 150px;
      margin-top: 30px;
      text-align: center;
      background: #ef5a20; }
      .page-container > .add-item-container button.add-item-btn i.fa {
        margin-right: 8px; }

.top-menu {
  width: 100%;
  height: 60px;
  display: flex;
  background: red;
  padding: 5px 0 5px 25px;
  align-items: center;
  justify-content: space-between; }
  .top-menu .left-container {
    display: flex;
    align-items: center; }
    .top-menu .left-container > a.menu-item > img {
      margin-right: 15px; }
    .top-menu .left-container > .menu-items {
      display: flex;
      align-items: center; }
      .top-menu .left-container > .menu-items .menu-item {
        color: #fff;
        height: 58px;
        padding: 0 15px;
        font-size: 18px;
        cursor: pointer;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0.8px;
        transition: all 0.3s ease;
        border-bottom: 4px solid red; }
        .top-menu .left-container > .menu-items .menu-item.selected {
          border-color: #fff; }
        .top-menu .left-container > .menu-items .menu-item:hover {
          border-color: #fff; }
  .top-menu .current-user {
    color: #fff;
    display: flex; }
    .top-menu .current-user .name {
      height: 60px;
      display: flex;
      font-size: 15px;
      max-width: 180px;
      margin-right: 25px;
      align-items: center; }
    .top-menu .current-user .logout-btn {
      width: 50px;
      height: 60px;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      background: rgba(0, 0, 0, 0.2); }
      .top-menu .current-user .logout-btn:hover {
        background: rgba(0, 0, 0, 0.4); }
      .top-menu .current-user .logout-btn > i.fas {
        font-size: 25px; }

#login-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #EDEFF0;
  display: flex; }
  #login-container a {
    text-decoration: none;
    color: #ef5a20;
    transition: 0.5s ease; }
    #login-container a:hover {
      color: #CC3900; }
  #login-container .sahaj-front {
    width: 65%;
    height: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #e3e3e3;
    background: url("/images/social.png") center/contain no-repeat;
    background-color: red; }
    #login-container .sahaj-front #sahaj-heading {
      color: #fff;
      font-size: 4.5em;
      margin: 20px auto;
      text-align: center;
      text-shadow: 3px 3px 1px #000;
      font-family: "Berkshire Swash", cursive; }
    #login-container .sahaj-front #sahaj-quote, #login-container .sahaj-front #sahaj-quote-small {
      color: #fff;
      font-size: 25px;
      margin: 20px auto;
      text-align: center;
      text-shadow: 1px 2px 1px #222;
      font-family: "Armata", sans-serif; }
    #login-container .sahaj-front #points {
      display: flex; }
      #login-container .sahaj-front #points .point {
        text-align: center;
        color: #fff;
        width: 220px;
        height: 220px;
        padding: 15px;
        display: flex;
        margin: 20px 10px;
        border-radius: 50%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: rgba(249, 90, 32, 0.8); }
        #login-container .sahaj-front #points .point .icon {
          font-size: 22px;
          text-align: center;
          margin: 0 0 10px 0; }
        #login-container .sahaj-front #points .point .heading {
          font-size: 20px;
          font-weight: 600;
          margin: 0 0 5px 0; }
        #login-container .sahaj-front #points .point .desc {
          color: #eaeaea;
          font-size: 16px; }
    #login-container .sahaj-front #sahaj-quote-small {
      font-size: 20px;
      text-shadow: 1px 1px 1px #000; }
  #login-container .form {
    width: 35%;
    color: #999;
    height: 100%;
    display: flex;
    background: #FFF;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    #login-container .form .user-name-show {
      padding: 10px;
      margin-bottom: 10px; }
      #login-container .form .user-name-show > h2 {
        font-weight: 600;
        text-decoration: none;
        text-transform: capitalize;
        color: #ef5a20 !important; }
  #login-container .tab-group {
    width: 70%;
    padding: 0;
    list-style: none;
    margin: 0 auto 30px auto; }
    #login-container .tab-group:after {
      content: "";
      clear: both;
      display: table; }
    #login-container .tab-group li a {
      width: 50%;
      float: left;
      padding: 10px;
      display: block;
      cursor: pointer;
      text-align: center;
      transition: 0.5s ease;
      text-decoration: none;
      color: var(--themeColorBlur85);
      background: rgba(160, 179, 176, 0.25); }
      #login-container .tab-group li a:hover {
        color: #FFF;
        background: #ef5a20; }
    #login-container .tab-group .active a {
      color: #FFF;
      background: #ef5a20; }
  #login-container .tab-content {
    width: 70%;
    height: 100%;
    margin: 0 auto; }
    #login-container .tab-content > div:last-child:not(#forgot-password, #user-type) {
      display: none; }
  #login-container div#signup, #login-container div#login {
    width: 100%;
    margin-top: 100px; }
    #login-container div#signup h1, #login-container div#login h1 {
      margin: 0;
      color: #999;
      font-size: 24px;
      font-weight: 500;
      text-align: center; }
    #login-container div#signup #signup-form, #login-container div#signup #login-form, #login-container div#login #signup-form, #login-container div#login #login-form {
      margin-top: 5px; }
      #login-container div#signup #signup-form .field-wrap > select#org-type, #login-container div#signup #login-form .field-wrap > select#org-type, #login-container div#login #signup-form .field-wrap > select#org-type, #login-container div#login #login-form .field-wrap > select#org-type {
        width: 100%; }
    #login-container div#signup #signup-form select#org-type, #login-container div#login #signup-form select#org-type {
      color: #999;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      padding: 3px 10px; }
  #login-container div#user-type {
    width: 100%;
    height: 60vh;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    #login-container div#user-type h1 {
      margin: 0;
      color: #999;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px; }
    #login-container div#user-type h4 {
      color: #ef5a20;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 40px; }
    #login-container div#user-type .user-type-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
      #login-container div#user-type .user-type-container .user-types {
        color: white;
        width: 180px;
        padding: 8px;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        background: #ef5a20;
        border: 1px solid #ef5a20;
        box-shadow: 1px 1px 1px #aaa; }
        #login-container div#user-type .user-type-container .user-types:hover {
          box-shadow: 3px 3px 3px #aaa; }
  #login-container .show-div {
    display: block !important; }
  #login-container .hide-div {
    display: none !important; }
  #login-container #forgot-password {
    width: 100%;
    margin-top: 100px; }
    #login-container #forgot-password h2 {
      color: #ef5a20; }
    #login-container #forgot-password h4 {
      font-size: 16px;
      margin-top: 10px; }
  #login-container label {
    position: absolute;
    transform: translateY(9px);
    left: 13px;
    color: #999;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 15px; }
    #login-container label .req {
      margin: 2px;
      color: #ef5a20; }
    #login-container label.active {
      transform: translateY(-25px);
      left: 2px;
      font-size: 14px; }
      #login-container label.active .req {
        opacity: 0; }
    #login-container label.highlight {
      color: #999; }
    #login-container label.wrong {
      color: #d00 !important; }
  #login-container input, #login-container textarea {
    font-size: 14px;
    display: block;
    width: 100%;
    height: 40px;
    padding: 3px 10px;
    background: none;
    background-image: none;
    border: 1px solid #aaa;
    color: #999;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease; }
    #login-container input.wrong, #login-container textarea.wrong {
      border: 1px solid #d00; }
  #login-container input:focus {
    outline: 0;
    border-color: #ef5a20; }
  #login-container textarea:focus {
    outline: 0;
    border-color: #ef5a20;
    border: 2px solid #a0b3b0;
    resize: vertical; }
  #login-container .field-wrap {
    position: relative;
    margin-top: 30px; }
  #login-container #login-form .field-wrap:nth-child(2) {
    margin-bottom: 30px; }
  #login-container .top-row:after {
    content: "";
    display: table;
    clear: both; }
  #login-container .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%; }
    #login-container .top-row > div:last-child {
      margin: 0; }
  #login-container .button {
    border: 0;
    color: #FFF;
    outline: none;
    padding: 10px 0;
    font-weight: 600;
    margin-top: 25px;
    border-radius: 0;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    -webkit-appearance: none;
    transition: all 0.5s ease;
    text-transform: uppercase;
    background: rgba(239, 90, 32, 0.85); }
    #login-container .button:hover, #login-container .button:focus {
      background: #ef5a20; }
  #login-container .button-block {
    display: block;
    width: 100%; }
  #login-container .forgot:not(.form) {
    text-align: center;
    margin: 10px auto;
    color: #ef5a20;
    display: block; }
    #login-container .forgot:not(.form):hover {
      color: #ef5a20 !important; }
    #login-container .forgot:not(.form) #forgot-span {
      font-size: 15px;
      font-weight: 600;
      cursor: pointer; }
  #login-container .form.forgot > .tab-content > h2 {
    color: #ef5a20;
    font-weight: 600;
    font-size: 20px; }

.manage-do-req-page .heading .column-1 {
  width: 250px; }
.manage-do-req-page .heading .column-2, .manage-do-req-page .heading .column-3, .manage-do-req-page .heading .column-4, .manage-do-req-page .heading .column-5, .manage-do-req-page .heading .column-6 {
  text-align: center;
  width: calc(calc(100% - 250px) / 5); }
.manage-do-req-page .item-row .column-1 {
  width: 250px; }
.manage-do-req-page .item-row .column-2, .manage-do-req-page .item-row .column-3, .manage-do-req-page .item-row .column-4, .manage-do-req-page .item-row .column-5, .manage-do-req-page .item-row .column-6 {
  text-align: center;
  width: calc(calc(100% - 250px) / 5); }

.manage-dhs-requests-page .heading .column-1 {
  width: 180px; }
.manage-dhs-requests-page .heading .column-2, .manage-dhs-requests-page .heading .column-3, .manage-dhs-requests-page .heading .column-4, .manage-dhs-requests-page .heading .column-5, .manage-dhs-requests-page .heading .column-6, .manage-dhs-requests-page .heading .column-7, .manage-dhs-requests-page .heading .column-8 {
  text-align: center;
  width: calc(calc(100% - 180px) / 7); }
.manage-dhs-requests-page .item-row .column-1 {
  width: 180px; }
.manage-dhs-requests-page .item-row .column-2, .manage-dhs-requests-page .item-row .column-3, .manage-dhs-requests-page .item-row .column-4, .manage-dhs-requests-page .item-row .column-5, .manage-dhs-requests-page .item-row .column-6, .manage-dhs-requests-page .item-row .column-7, .manage-dhs-requests-page .item-row .column-8 {
  text-align: center;
  width: calc(calc(100% - 180px) / 7); }

.landing-page {
  overflow: hidden; }
  .landing-page .banner {
    width: 100%;
    height: 320px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/banner.png"); }
    .landing-page .banner .menu-container {
      top: 25px;
      color: #fff;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease; }
      .landing-page .banner .menu-container.to-left {
        left: calc(100% - 25px); }
      .landing-page .banner .menu-container.to-right {
        left: calc(100% - 105px); }
        .landing-page .banner .menu-container.to-right > .arrow > i.fa-chevron-left {
          transform: rotate(180deg); }
      .landing-page .banner .menu-container > .arrow {
        width: 25px;
        text-align: center;
        background: rgba(255, 0, 0, 0.6); }
        .landing-page .banner .menu-container > .arrow:hover {
          background: rgba(255, 0, 0, 0.7); }
        .landing-page .banner .menu-container > .arrow > i.fa-chevron-left {
          width: 25px;
          transition: all 0.3s ease; }
      .landing-page .banner .menu-container > * {
        width: 40px;
        height: 40px;
        display: flex;
        font-size: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center; }
      .landing-page .banner .menu-container > i.fa-sign-out-alt, .landing-page .banner .menu-container > a {
        background: red; }
        .landing-page .banner .menu-container > i.fa-sign-out-alt:hover, .landing-page .banner .menu-container > a:hover {
          box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.1); }
      .landing-page .banner .menu-container > a {
        color: #fff;
        background: red; }
    .landing-page .banner .banner-container {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px 0 15px 80px; }
      .landing-page .banner .banner-container .black-text, .landing-page .banner .banner-container .red-text {
        font-size: 36px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: 1px; }
      .landing-page .banner .banner-container .black-text {
        color: #1a1a1a; }
        .landing-page .banner .banner-container .black-text.small {
          font-size: 16px;
          line-height: 24px; }
      .landing-page .banner .banner-container .red-text {
        color: red; }
      .landing-page .banner .banner-container .logos-container {
        width: 100%;
        display: flex;
        align-items: center; }
        .landing-page .banner .banner-container .logos-container img {
          padding: 5px; }
    .landing-page .banner .banner-heading {
      color: #fff;
      background: red;
      padding: 10px 0;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      transform: translateY(100%); }
  .landing-page .container-1 {
    margin-top: 65px;
    padding: 20px 50px; }
    .landing-page .container-1 .heading {
      font-size: 30px;
      letter-spacing: 0.8px; }
      .landing-page .container-1 .heading > span {
        margin-right: 10px; }
      .landing-page .container-1 .heading .black-text {
        color: #1a1a1a; }
      .landing-page .container-1 .heading .red-text {
        color: red; }
    .landing-page .container-1 .content {
      display: flex; }
      .landing-page .container-1 .content .left-container {
        width: 70%;
        color: #2a2a2a;
        font-size: 18px;
        font-weight: 600;
        min-height: 270px;
        margin-right: 20px;
        letter-spacing: 1px; }
        .landing-page .container-1 .content .left-container > div {
          margin-bottom: 15px; }
          .landing-page .container-1 .content .left-container > div .red-text {
            color: red; }
      .landing-page .container-1 .content .right-container {
        padding: 10px 20px;
        width: calc(30% - 20px);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/India_Maharashtra_COVID-19_map.svg/778px-India_Maharashtra_COVID-19_map.svg.png"); }
  .landing-page .container-2 {
    padding: 20px 50px; }
    .landing-page .container-2 .heading {
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 0.8px; }
      .landing-page .container-2 .heading > span {
        margin-right: 10px; }
      .landing-page .container-2 .heading .black-text {
        color: #1a1a1a; }
      .landing-page .container-2 .heading .red-text {
        color: red; }
    .landing-page .container-2 .filter-container {
      display: flex;
      margin: 5px 0;
      align-items: center;
      justify-content: space-between; }
      .landing-page .container-2 .filter-container .filter .control-label {
        color: #2a2a2a;
        font-size: 18px;
        font-weight: 600;
        margin-right: 10px;
        letter-spacing: 1px; }
      .landing-page .container-2 .filter-container .filter .ant-select .ant-select-selection-item {
        color: red; }
      .landing-page .container-2 .filter-container .filter .ant-select .ant-select-selector {
        border-color: #666; }
      .landing-page .container-2 .filter-container .filter .ant-select .ant-select-arrow {
        color: #666; }
      .landing-page .container-2 .filter-container .last-updated-container {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.5px; }
        .landing-page .container-2 .filter-container .last-updated-container .black-text {
          color: #1a1a1a;
          margin-right: 5px; }
        .landing-page .container-2 .filter-container .last-updated-container .red-text {
          color: red; }
    .landing-page .container-2 .btn.interest-btn {
      color: #fff;
      background: red;
      margin: 10px 0 15px 0;
      text-transform: uppercase; }
    .landing-page .container-2 .requirements-container .heading {
      color: red;
      display: flex;
      font-size: 16px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      letter-spacing: 0.5px;
      border-bottom: 1px solid #777; }
      .landing-page .container-2 .requirements-container .heading .column-1 {
        width: 30%;
        padding-left: 5px; }
      .landing-page .container-2 .requirements-container .heading .column-2 {
        width: 250px; }
      .landing-page .container-2 .requirements-container .heading .column-3 {
        flex-grow: 1; }
      .landing-page .container-2 .requirements-container .heading .column-4 {
        width: 200px; }
    .landing-page .container-2 .requirements-container .no-materials {
      color: #444;
      width: 100%;
      display: flex;
      height: 180px;
      margin: 0 auto;
      padding: 0 15px;
      align-items: center;
      background: #fafafa;
      letter-spacing: 0.5px;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 0 1px #aaa; }
      .landing-page .container-2 .requirements-container .no-materials > .title {
        margin: 10px 0;
        font-size: 24px; }
      .landing-page .container-2 .requirements-container .no-materials > .sub-title {
        font-size: 18px;
        margin-bottom: 10px; }
    .landing-page .container-2 .requirements-container .req-row {
      color: #444;
      width: 100%;
      display: flex;
      font-size: 16px;
      min-height: 50px;
      align-items: center;
      letter-spacing: 0.5px; }
      .landing-page .container-2 .requirements-container .req-row:nth-child(2n) {
        background: #f9f9f9; }
      .landing-page .container-2 .requirements-container .req-row .column-1 {
        width: 30%;
        padding-left: 5px; }
      .landing-page .container-2 .requirements-container .req-row .column-2 {
        width: 250px; }
      .landing-page .container-2 .requirements-container .req-row .column-3 {
        flex-grow: 1; }
        .landing-page .container-2 .requirements-container .req-row .column-3 .box {
          height: 15px;
          position: relative;
          margin-bottom: 10px;
          border: 1px solid #bbb;
          width: calc(100% - 100px); }
          .landing-page .container-2 .requirements-container .req-row .column-3 .box .box-filled {
            height: 13px;
            position: relative;
            background: linear-gradient(to left, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.4)); }
            .landing-page .container-2 .requirements-container .req-row .column-3 .box .box-filled > span {
              right: 0;
              font-size: 12px;
              position: absolute;
              top: calc(100% + 5px);
              transform: translateX(50%); }
              .landing-page .container-2 .requirements-container .req-row .column-3 .box .box-filled > span:before {
                width: 0;
                height: 0;
                left: 50%;
                top: -3px;
                content: "";
                position: absolute;
                transform: translateX(-50%);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid rgba(255, 0, 0, 0.4); }
          .landing-page .container-2 .requirements-container .req-row .column-3 .box .box-total {
            top: -4px;
            left: 100%;
            padding: 0 2px;
            font-size: 12px;
            position: absolute;
            transform: translateX(10px);
            border: 1px solid rgba(255, 0, 0, 0.4); }
            .landing-page .container-2 .requirements-container .req-row .column-3 .box .box-total:before {
              width: 0;
              top: 50%;
              height: 0;
              left: -10px;
              content: "";
              position: absolute;
              transform: translateY(-50%);
              border-top: 8px solid transparent;
              border-bottom: 8px solid transparent;
              border-right: 8px solid rgba(255, 0, 0, 0.4); }
      .landing-page .container-2 .requirements-container .req-row .column-4 {
        width: 200px;
        text-align: center; }
        .landing-page .container-2 .requirements-container .req-row .column-4 .view-contribution-btn {
          color: #fff;
          background: red;
          min-width: 100px;
          text-transform: uppercase; }
  .landing-page .container-3 .heading-container {
    color: #fff;
    font-size: 18px;
    margin-top: 26px;
    padding: 10px 50px;
    background: rgba(255, 0, 0, 0.5); }
    .landing-page .container-3 .heading-container .link {
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: underline; }
  .landing-page .container-3 .heading {
    font-size: 30px;
    font-weight: 600;
    padding: 15px 50px;
    letter-spacing: 0.8px; }
    .landing-page .container-3 .heading > span {
      margin-right: 10px; }
    .landing-page .container-3 .heading .black-text {
      color: #1a1a1a; }
    .landing-page .container-3 .heading .red-text {
      color: red; }
  .landing-page .container-3 .text-container {
    padding: 10px 50px; }
    .landing-page .container-3 .text-container > div {
      color: #333;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 20px;
      letter-spacing: 1px; }
      .landing-page .container-3 .text-container > div .red-text {
        color: red; }
  .landing-page .footer-container {
    margin-top: 40px;
    position: relative;
    text-align: center; }
    .landing-page .footer-container:before {
      left: 0;
      z-index: 0;
      top: -40px;
      width: 100%;
      content: "";
      height: 30px;
      position: absolute;
      background: repeating-linear-gradient(-45deg, #fff, #fff 15px, rgba(255, 0, 0, 0.5) 0, rgba(255, 0, 0, 0.5) 40px); }
    .landing-page .footer-container > div {
      font-size: 30px;
      margin-top: 15px;
      font-weight: 600;
      letter-spacing: 1px;
      color: rgba(255, 0, 0, 0.5); }
    .landing-page .footer-container > img {
      margin-bottom: 20px; }
  .landing-page a.red-text {
    text-decoration: underline; }

.express-interest-modal .express-interest-modal-body .radio-container {
  display: flex;
  margin-top: 15px;
  align-items: flex-start; }
  .express-interest-modal .express-interest-modal-body .radio-container > label.control-label {
    margin-top: 0; }
  .express-interest-modal .express-interest-modal-body .radio-container > input {
    margin: 4px; }
.express-interest-modal .express-interest-modal-body .footer-container {
  display: flex;
  margin: 15px 0;
  align-items: center;
  flex-direction: column; }
  .express-interest-modal .express-interest-modal-body .footer-container > button {
    margin-bottom: 10px;
    letter-spacing: 0.8px;
    text-transform: uppercase; }

.sharing-modal .modal-dialog.modal-lg {
  width: 80%;
  max-width: 80%; }
.sharing-modal .sharing-modal-body .text-container img {
  margin-bottom: 20px; }
.sharing-modal .sharing-modal-body .text-container h2 {
  color: red;
  font-size: 36px;
  line-height: 45px;
  word-spacing: 2px;
  margin-bottom: 15px;
  letter-spacing: 0.8px; }
.sharing-modal .sharing-modal-body .text-container h3 {
  font-size: 30px;
  line-height: 40px;
  word-spacing: 2px;
  margin-bottom: 15px;
  letter-spacing: 0.8px; }
.sharing-modal .sharing-modal-body .text-container h4 {
  color: red;
  font-size: 30px;
  line-height: 40px; }
.sharing-modal .sharing-modal-body .share-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center; }
  .sharing-modal .sharing-modal-body .share-buttons > button {
    margin: 0 5px; }
.sharing-modal .sharing-modal-body .quote {
  width: 100%;
  font-size: 25px;
  margin-top: 15px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.8px; }

.contribution-modal .modal-dialog.modal-lg {
  width: 80%;
  max-width: 80%; }
.contribution-modal .contribution-modal-body > .row {
  margin: 10px; }
  .contribution-modal .contribution-modal-body > .row table {
    table-layout: fixed; }
    .contribution-modal .contribution-modal-body > .row table .contributed-as {
      text-transform: capitalize; }
    .contribution-modal .contribution-modal-body > .row table th, .contribution-modal .contribution-modal-body > .row table td {
      padding: 5px 8px;
      text-align: center;
      overflow-wrap: break-word; }
.contribution-modal .contribution-modal-body .no-contribution {
  color: #444;
  width: 100%;
  height: 100px;
  display: flex;
  font-size: 18px;
  align-items: center;
  background: #fafafa;
  justify-content: center; }

.admin-placed-orders-page .heading .column {
  text-align: center;
  width: calc(100% / 12); }
.admin-placed-orders-page .item-row .column {
  text-align: center;
  width: calc(100% / 12); }

.dashboard-page {
  position: relative;
  padding: 40px 50px;
  min-height: calc(100vh - 60px); }
  .dashboard-page > h3 {
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 1px; }
  .dashboard-page .table-container > .heading {
    color: red;
    width: 100%;
    display: flex;
    font-size: 16px;
    padding-bottom: 0;
    align-items: flex-end;
    letter-spacing: 0.5px;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #777; }
    .dashboard-page .table-container > .heading .column {
      padding: 5px;
      width: 150px;
      text-align: center; }
    .dashboard-page .table-container > .heading .column-1 {
      text-align: left; }
  .dashboard-page .table-container > .no-items {
    width: 100%;
    color: #444;
    display: flex;
    height: 180px;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
    background: #fafafa;
    letter-spacing: 0.5px;
    justify-content: center;
    box-shadow: 0 0 1px #aaa; }
  .dashboard-page .table-container > .item-row {
    width: 100%;
    color: #444;
    display: flex;
    margin: 0 auto;
    font-size: 16px;
    min-height: 50px;
    align-items: center;
    letter-spacing: 0.5px; }
    .dashboard-page .table-container > .item-row:nth-child(2n) {
      background: #f5f5f5; }
    .dashboard-page .table-container > .item-row .column {
      padding: 5px;
      width: 150px;
      text-align: center; }
      .dashboard-page .table-container > .item-row .column .btn.column-btn {
        color: #fff;
        padding: 5px;
        min-width: 120px;
        text-align: center;
        background: #ef5a20; }
    .dashboard-page .table-container > .item-row .column-1 {
      text-align: left; }

.manage-do-receive-page .heading .column-1, .manage-do-receive-page .heading .column-2, .manage-do-receive-page .heading .column-3, .manage-do-receive-page .heading .column-4, .manage-do-receive-page .heading .column-5, .manage-do-receive-page .heading .column-6, .manage-do-receive-page .heading .column-7 {
  text-align: center;
  width: calc(100% / 7); }
.manage-do-receive-page .item-row .column-1, .manage-do-receive-page .item-row .column-2, .manage-do-receive-page .item-row .column-3, .manage-do-receive-page .item-row .column-4, .manage-do-receive-page .item-row .column-5, .manage-do-receive-page .item-row .column-6, .manage-do-receive-page .item-row .column-7 {
  text-align: center;
  width: calc(100% / 7); }

.add-material-page {
  padding: 50px; }
  .add-material-page h2 {
    margin-top: 15px;
    margin-bottom: 30px; }
  .add-material-page .question {
    width: 70%;
    margin: 15px auto;
    align-items: center; }
    .add-material-page .question label {
      margin: 0;
      width: 300px;
      font-size: 20px;
      font-weight: 600; }
    .add-material-page .question input, .add-material-page .question textarea {
      width: calc(100% - 300px); }
    .add-material-page .question textarea {
      min-height: 200px; }
    .add-material-page .question .input-groups {
      width: calc(100% - 300px); }
      .add-material-page .question .input-groups > * {
        flex-grow: 1;
        margin-right: 10px; }
        .add-material-page .question .input-groups > *:last-child {
          margin-right: 0; }
  .add-material-page .submit-btn {
    color: #fff;
    margin-top: 20px;
    padding: 5px 25px;
    background: #ef5a20; }

.manage-users-page .heading .column {
  text-align: center;
  width: calc(calc(100% - 100px) / 5); }
.manage-users-page .heading .column-6 {
  width: 100px; }
.manage-users-page .heading .column-7 {
  width: 140px;
  text-align: center; }
.manage-users-page .item-row .column {
  text-align: center;
  overflow-wrap: break-word;
  width: calc(calc(100% - 100px) / 5); }
.manage-users-page .item-row .column-6 {
  width: 100px;
  text-align: center; }
.manage-users-page .item-row .column-7 {
  width: 140px; }

.manage-materials-page {
  padding: 40px 50px; }
  .manage-materials-page h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .manage-materials-page .heading {
    color: red;
    width: 90%;
    display: flex;
    font-size: 16px;
    padding-bottom: 0;
    letter-spacing: 0.5px;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #777; }
    .manage-materials-page .heading .column-1 {
      width: calc(100% - 500px); }
    .manage-materials-page .heading .column-1, .manage-materials-page .heading .column-2, .manage-materials-page .heading .column-3 {
      padding: 5px; }
    .manage-materials-page .heading .column-2, .manage-materials-page .heading .column-3 {
      width: 250px;
      text-align: center; }
  .manage-materials-page .no-materials {
    width: 90%;
    color: #444;
    display: flex;
    height: 180px;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
    background: #fafafa;
    letter-spacing: 0.5px;
    justify-content: center;
    box-shadow: 0 0 1px #aaa; }
  .manage-materials-page .material-row {
    width: 90%;
    color: #444;
    display: flex;
    margin: 0 auto;
    font-size: 16px;
    min-height: 50px;
    align-items: center;
    letter-spacing: 0.5px; }
    .manage-materials-page .material-row:nth-child(2n) {
      background: #f5f5f5; }
    .manage-materials-page .material-row .column-1 {
      width: calc(100% - 500px); }
    .manage-materials-page .material-row .column-2, .manage-materials-page .material-row .column-3 {
      width: 250px;
      text-align: center; }
    .manage-materials-page .material-row .column-1, .manage-materials-page .material-row .column-2, .manage-materials-page .material-row .column-3 {
      padding: 5px; }
      .manage-materials-page .material-row .column-1 .manage-material-btn, .manage-materials-page .material-row .column-1 .edit-material-btn, .manage-materials-page .material-row .column-2 .manage-material-btn, .manage-materials-page .material-row .column-2 .edit-material-btn, .manage-materials-page .material-row .column-3 .manage-material-btn, .manage-materials-page .material-row .column-3 .edit-material-btn {
        color: #fff;
        padding: 5px;
        width: 150px;
        text-align: center;
        background: #ef5a20; }

.manage-districts-page {
  padding: 40px 50px; }
  .manage-districts-page h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .manage-districts-page .heading {
    color: red;
    width: 90%;
    display: flex;
    font-size: 16px;
    padding-bottom: 0;
    letter-spacing: 0.5px;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #777; }
    .manage-districts-page .heading .column-1 {
      padding: 5px;
      width: calc(100% - 300px); }
    .manage-districts-page .heading .column-2 {
      width: 300px;
      padding: 5px;
      text-align: center; }
  .manage-districts-page .no-districts {
    width: 90%;
    color: #444;
    display: flex;
    height: 180px;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
    background: #fafafa;
    letter-spacing: 0.5px;
    justify-content: center;
    box-shadow: 0 0 1px #aaa; }
  .manage-districts-page .district-row {
    width: 90%;
    color: #444;
    display: flex;
    margin: 0 auto;
    font-size: 16px;
    min-height: 50px;
    align-items: center;
    letter-spacing: 0.5px; }
    .manage-districts-page .district-row:nth-child(2n) {
      background: #f5f5f5; }
    .manage-districts-page .district-row .column-1 {
      padding: 5px;
      width: calc(100% - 300px); }
    .manage-districts-page .district-row .column-2 {
      width: 300px;
      padding: 5px;
      text-align: center; }
      .manage-districts-page .district-row .column-2 .manage-district-btn {
        color: #fff;
        padding: 5px;
        width: 150px;
        text-align: center;
        background: #ef5a20; }

.haffkine-receive-items-page .table-container {
  width: 100%;
  overflow-x: auto; }
  .haffkine-receive-items-page .table-container > .heading {
    color: red;
    display: flex;
    font-size: 16px;
    padding-bottom: 0;
    align-items: flex-end;
    letter-spacing: 0.5px;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #777;
    width: calc(calc(200px * 5) + 960px); }
    .haffkine-receive-items-page .table-container > .heading .column {
      width: 200px;
      padding: 5px;
      text-align: center; }
    .haffkine-receive-items-page .table-container > .heading .column-1, .haffkine-receive-items-page .table-container > .heading .column-3, .haffkine-receive-items-page .table-container > .heading .column-4, .haffkine-receive-items-page .table-container > .heading .column-5, .haffkine-receive-items-page .table-container > .heading .column-7, .haffkine-receive-items-page .table-container > .heading .column-9, .haffkine-receive-items-page .table-container > .heading .column-10, .haffkine-receive-items-page .table-container > .heading .column-11 {
      width: 120px; }
  .haffkine-receive-items-page .table-container > .no-items {
    width: 100%;
    color: #444;
    display: flex;
    height: 180px;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
    background: #fafafa;
    letter-spacing: 0.5px;
    justify-content: center;
    box-shadow: 0 0 1px #aaa; }
  .haffkine-receive-items-page .table-container > .item-row {
    color: #444;
    display: flex;
    margin: 0 auto;
    font-size: 16px;
    min-height: 50px;
    align-items: center;
    letter-spacing: 0.5px;
    width: calc(calc(200px * 5) + 960px); }
    .haffkine-receive-items-page .table-container > .item-row:nth-child(2n) {
      background: #f5f5f5; }
    .haffkine-receive-items-page .table-container > .item-row .column {
      padding: 5px;
      width: 200px;
      text-align: center; }
      .haffkine-receive-items-page .table-container > .item-row .column .btn.column-btn {
        color: #fff;
        padding: 5px;
        min-width: 120px;
        text-align: center;
        background: #ef5a20; }
        .haffkine-receive-items-page .table-container > .item-row .column .btn.column-btn.btn-alt {
          color: #ef5a20;
          background: #fff;
          border: 1px solid #ef5a20; }
    .haffkine-receive-items-page .table-container > .item-row .column-1, .haffkine-receive-items-page .table-container > .item-row .column-3, .haffkine-receive-items-page .table-container > .item-row .column-4, .haffkine-receive-items-page .table-container > .item-row .column-5, .haffkine-receive-items-page .table-container > .item-row .column-7, .haffkine-receive-items-page .table-container > .item-row .column-9, .haffkine-receive-items-page .table-container > .item-row .column-10, .haffkine-receive-items-page .table-container > .item-row .column-11 {
      width: 120px; }

.haffkine-allocation-page .counts {
  font-size: 20px;
  align-items: center; }
  .haffkine-allocation-page .counts > span {
    color: red;
    margin: 5px;
    font-size: 20px; }
    .haffkine-allocation-page .counts > span b {
      color: #444;
      font-size: 18px; }
.haffkine-allocation-page .filter {
  margin-bottom: 20px; }
.haffkine-allocation-page .heading .column {
  text-align: center;
  width: calc(calc(100% - 100px) / 7); }
.haffkine-allocation-page .heading .column-1 {
  width: 100px; }
.haffkine-allocation-page .item-row .column {
  text-align: center;
  width: calc(calc(100% - 100px) / 7); }
.haffkine-allocation-page .item-row .column-1 {
  width: 100px; }

.manage-single-material-page {
  padding: 30px 50px; }
  .manage-single-material-page h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .manage-single-material-page .heading {
    color: red;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #777; }
    .manage-single-material-page .heading .column-1, .manage-single-material-page .heading .column-2, .manage-single-material-page .heading .column-3, .manage-single-material-page .heading .column-4, .manage-single-material-page .heading .column-5 {
      width: 20%;
      padding: 5px;
      text-align: center; }
  .manage-single-material-page .no-materials {
    width: 70%;
    color: #444;
    display: flex;
    height: 180px;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
    background: #fafafa;
    letter-spacing: 0.5px;
    justify-content: center;
    box-shadow: 0 0 1px #aaa; }
  .manage-single-material-page .material-row {
    color: #444;
    width: 100%;
    display: flex;
    font-size: 16px;
    min-height: 50px;
    align-items: center;
    letter-spacing: 0.5px; }
    .manage-single-material-page .material-row:nth-child(2n) {
      background: #f7f7f7; }
    .manage-single-material-page .material-row .column-1, .manage-single-material-page .material-row .column-2, .manage-single-material-page .material-row .column-3, .manage-single-material-page .material-row .column-4, .manage-single-material-page .material-row .column-5 {
      width: 20%;
      padding: 5px;
      text-align: center; }
      .manage-single-material-page .material-row .column-1 .save-requirement-btn, .manage-single-material-page .material-row .column-2 .save-requirement-btn, .manage-single-material-page .material-row .column-3 .save-requirement-btn, .manage-single-material-page .material-row .column-4 .save-requirement-btn, .manage-single-material-page .material-row .column-5 .save-requirement-btn {
        color: #fff;
        background: #ef5a20; }
      .manage-single-material-page .material-row .column-1 .add-fulfilment-btn, .manage-single-material-page .material-row .column-1 .edit-requirement-btn, .manage-single-material-page .material-row .column-2 .add-fulfilment-btn, .manage-single-material-page .material-row .column-2 .edit-requirement-btn, .manage-single-material-page .material-row .column-3 .add-fulfilment-btn, .manage-single-material-page .material-row .column-3 .edit-requirement-btn, .manage-single-material-page .material-row .column-4 .add-fulfilment-btn, .manage-single-material-page .material-row .column-4 .edit-requirement-btn, .manage-single-material-page .material-row .column-5 .add-fulfilment-btn, .manage-single-material-page .material-row .column-5 .edit-requirement-btn {
        color: #ef5a20;
        background: #fff;
        border: 1px solid #ef5a20; }
      .manage-single-material-page .material-row .column-1 .add-fulfilment-btn, .manage-single-material-page .material-row .column-1 .save-requirement-btn, .manage-single-material-page .material-row .column-1 .edit-requirement-btn, .manage-single-material-page .material-row .column-2 .add-fulfilment-btn, .manage-single-material-page .material-row .column-2 .save-requirement-btn, .manage-single-material-page .material-row .column-2 .edit-requirement-btn, .manage-single-material-page .material-row .column-3 .add-fulfilment-btn, .manage-single-material-page .material-row .column-3 .save-requirement-btn, .manage-single-material-page .material-row .column-3 .edit-requirement-btn, .manage-single-material-page .material-row .column-4 .add-fulfilment-btn, .manage-single-material-page .material-row .column-4 .save-requirement-btn, .manage-single-material-page .material-row .column-4 .edit-requirement-btn, .manage-single-material-page .material-row .column-5 .add-fulfilment-btn, .manage-single-material-page .material-row .column-5 .save-requirement-btn, .manage-single-material-page .material-row .column-5 .edit-requirement-btn {
        padding: 5px;
        width: 120px;
        text-align: center; }
  .manage-single-material-page .add-district-container {
    text-align: center; }
    .manage-single-material-page .add-district-container .add-district-btn {
      color: #fff;
      padding: 5px;
      width: 150px;
      margin-top: 30px;
      text-align: center;
      background: #ef5a20; }
      .manage-single-material-page .add-district-container .add-district-btn i.fa {
        margin-right: 8px; }

.manage-single-district-page {
  padding: 30px 50px; }
  .manage-single-district-page h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .manage-single-district-page .heading {
    color: red;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #777; }
    .manage-single-district-page .heading .column-1, .manage-single-district-page .heading .column-2, .manage-single-district-page .heading .column-3, .manage-single-district-page .heading .column-4, .manage-single-district-page .heading .column-5 {
      width: 20%;
      padding: 5px;
      text-align: center; }
  .manage-single-district-page .no-districts {
    width: 100%;
    color: #444;
    display: flex;
    height: 180px;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
    background: #fafafa;
    letter-spacing: 0.5px;
    justify-content: center;
    box-shadow: 0 0 1px #aaa; }
  .manage-single-district-page .district-row {
    color: #444;
    width: 100%;
    display: flex;
    font-size: 16px;
    min-height: 50px;
    align-items: center;
    letter-spacing: 0.5px; }
    .manage-single-district-page .district-row:nth-child(2n) {
      background: #f5f5f5; }
    .manage-single-district-page .district-row .column-1, .manage-single-district-page .district-row .column-2, .manage-single-district-page .district-row .column-3, .manage-single-district-page .district-row .column-4, .manage-single-district-page .district-row .column-5 {
      width: 20%;
      padding: 5px;
      text-align: center; }
      .manage-single-district-page .district-row .column-1 .save-requirement-btn, .manage-single-district-page .district-row .column-2 .save-requirement-btn, .manage-single-district-page .district-row .column-3 .save-requirement-btn, .manage-single-district-page .district-row .column-4 .save-requirement-btn, .manage-single-district-page .district-row .column-5 .save-requirement-btn {
        color: #fff;
        background: #ef5a20; }
      .manage-single-district-page .district-row .column-1 .add-fulfilment-btn, .manage-single-district-page .district-row .column-1 .edit-requirement-btn, .manage-single-district-page .district-row .column-2 .add-fulfilment-btn, .manage-single-district-page .district-row .column-2 .edit-requirement-btn, .manage-single-district-page .district-row .column-3 .add-fulfilment-btn, .manage-single-district-page .district-row .column-3 .edit-requirement-btn, .manage-single-district-page .district-row .column-4 .add-fulfilment-btn, .manage-single-district-page .district-row .column-4 .edit-requirement-btn, .manage-single-district-page .district-row .column-5 .add-fulfilment-btn, .manage-single-district-page .district-row .column-5 .edit-requirement-btn {
        color: #ef5a20;
        background: #fff;
        border: 1px solid #ef5a20; }
      .manage-single-district-page .district-row .column-1 .add-fulfilment-btn, .manage-single-district-page .district-row .column-1 .save-requirement-btn, .manage-single-district-page .district-row .column-1 .edit-requirement-btn, .manage-single-district-page .district-row .column-2 .add-fulfilment-btn, .manage-single-district-page .district-row .column-2 .save-requirement-btn, .manage-single-district-page .district-row .column-2 .edit-requirement-btn, .manage-single-district-page .district-row .column-3 .add-fulfilment-btn, .manage-single-district-page .district-row .column-3 .save-requirement-btn, .manage-single-district-page .district-row .column-3 .edit-requirement-btn, .manage-single-district-page .district-row .column-4 .add-fulfilment-btn, .manage-single-district-page .district-row .column-4 .save-requirement-btn, .manage-single-district-page .district-row .column-4 .edit-requirement-btn, .manage-single-district-page .district-row .column-5 .add-fulfilment-btn, .manage-single-district-page .district-row .column-5 .save-requirement-btn, .manage-single-district-page .district-row .column-5 .edit-requirement-btn {
        padding: 5px;
        width: 120px;
        text-align: center; }
  .manage-single-district-page .add-material-container {
    text-align: center; }
    .manage-single-district-page .add-material-container .add-material-btn {
      color: #fff;
      padding: 5px;
      width: 150px;
      margin-top: 30px;
      text-align: center;
      background: #ef5a20; }
      .manage-single-district-page .add-material-container .add-material-btn i.fa {
        margin-right: 8px; }

@media only screen and (max-width: 600px) {
  .landing-page .banner {
    height: auto;
    display: flex;
    flex-direction: column;
    background-position: 70% -40px; }
    .landing-page .banner .banner-container {
      width: 100%;
      height: 100%;
      padding: 20px;
      align-items: center;
      box-shadow: inset 0 0 1px 1000px rgba(255, 255, 255, 0.8); }
      .landing-page .banner .banner-container .logos-container {
        flex-direction: column; }
    .landing-page .banner .banner-heading {
      transform: none; }
  .landing-page .container-1 {
    margin-top: 15px;
    padding: 5px 25px; }
    .landing-page .container-1 .content {
      flex-direction: column-reverse; }
      .landing-page .container-1 .content .left-container {
        width: 100%;
        height: auto;
        text-align: justify; }
        .landing-page .container-1 .content .left-container > div.heading {
          text-align: center; }
      .landing-page .container-1 .content .right-container {
        padding: 0;
        width: auto;
        height: 200px; }
  .landing-page .container-2 {
    padding: 5px 25px; }
    .landing-page .container-2 .heading {
      text-align: center; }
    .landing-page .container-2 .filter-container {
      margin-bottom: 15px;
      align-items: flex-end; }
      .landing-page .container-2 .filter-container > .filter {
        margin-right: 10px; }
      .landing-page .container-2 .filter-container > .last-updated-container {
        display: flex;
        text-align: right;
        flex-direction: column; }
    .landing-page .container-2 .btn.interest-btn {
      width: 100%; }
    .landing-page .container-2 .requirements-container {
      overflow-x: auto; }
      .landing-page .container-2 .requirements-container .heading {
        height: 30px;
        width: 1000px; }
        .landing-page .container-2 .requirements-container .heading .column-1 {
          width: 200px; }
        .landing-page .container-2 .requirements-container .heading .column-2 {
          width: 200px; }
        .landing-page .container-2 .requirements-container .heading .column-3 {
          width: 400px; }
        .landing-page .container-2 .requirements-container .heading .column-4 {
          width: 200px; }
      .landing-page .container-2 .requirements-container .no-materials {
        height: auto;
        min-height: 180px;
        text-align: center; }
      .landing-page .container-2 .requirements-container .req-row {
        width: 1000px;
        text-align: center; }
        .landing-page .container-2 .requirements-container .req-row .column-1 {
          width: 200px; }
        .landing-page .container-2 .requirements-container .req-row .column-2 {
          width: 200px; }
        .landing-page .container-2 .requirements-container .req-row .column-3 {
          width: 400px; }
        .landing-page .container-2 .requirements-container .req-row .column-4 {
          width: 200px; }
  .landing-page .container-3 .heading-container, .landing-page .container-3 .heading, .landing-page .container-3 .text-container {
    padding: 15px 25px; } }

/*# sourceMappingURL=style.css.map */
